doctype
html
  head
    script(src="/js/vendor/p5/p5.min.js")
    script(src="js/vendor/p5/p5.dom.min.js")
    script(src="js/sketch.js")
    link(rel="stylesheet" href="/less/main.css")
  body
    != yield