h1.title The Sentimental Verses
h1.book Genesis
.container
div.button-group.filters-button-group
  label &#x1F610
  input.checkbox(type="checkbox" name="neutral" data-filter="neutral" checked)
  label &#x1F604
  input.checkbox(type="checkbox" name="joy" data-filter="joy" checked)
  label &#x1F620
  input.checkbox(type="checkbox" name="anger" data-filter="anger" checked)
  label &#x1F622
  input.checkbox(type="checkbox" name="sadness" data-filter="sadness" checked)
  label &#x1F628
  input.checkbox(type="checkbox" name="fear" data-filter="fear" checked)
script(src="https://code.jquery.com/jquery-3.2.1.min.js")
script(src="js/app.js")