body {
  font-family: "Georgia";
  padding: 50px 20px 0;
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  margin: 0;
}

.title {
  font-size: 2rem;
  position: fixed;
  left: -165px;
  bottom: 190px;
  transform: rotate(-90deg);
}

.book {
  font-size: 2rem;
  position: absolute;
  right: -25px;
  top: 60px;
  transform: rotate(90deg);
}

.container {
  margin: 2rem;
}

.verse {
  text-align: left;
  font-size: 1.5rem;
}

.button-group {
  padding: 1rem;
  background: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
  input {
    margin-right: 1rem;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.verse {
  width: auto;
  padding: 0.8rem;
  ::before {
    font-size: 1rem;
    margin-right: 1rem;
  }
}

.neutral {
  //  border-left: 20px solid rgba(0, 150, 0, 1);
  ::before {
    content: "\01F610";
  }
  //  color: rgba(255, 255, 255, 1);
}

.joy {
  //  border-left: 20px solid rgba(0, 150, 0, 1);
  ::before {
    content: "\01F604";
  }
  //  color: rgba(255, 255, 255, 1);
}

.sadness {
  //   border-left: 20px solid rgba(0, 0, 150, 1);
  ::before {
    content: "\01F622";
  }
}

.anger {
  //  border-left: 20px solid rgba(150, 0, 0, 1);
  ::before {
    content: "\01F620";
  }
}

.fear {
  //  border-left: 20px solid rgba(0, 0, 0, 1);
  ::before {
    content: "\01F628";
  }

}
